body {
    font-family: "Arsenal", sans-serif;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}

.home {
    background-image: url('../../public/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home-nav-container {
    display: flex;
    justify-content: space-between;
}

.home-nav-container img{
    padding: 100px 0 0 120px;
    width: 3%;
    height: 3%;
}

.home-nav {
    padding: 70px 0 70px 200px;
    margin: 60px 0;
    border-radius: 10px;
    background-color: #ffffff07;
    backdrop-filter: blur(20px);
    width: 50%;
;

}

.home-nav a{
    text-decoration: none;
    color: #ffffffa8;
    padding: 60px;
    font-size: 3.5em;
}

.home-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 1.5em;
    text-decoration-thickness: 5px;
}

.nav-line {
    position: absolute;
    top: 6.8%;
    left: 8.5%;
    height:.1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    width: 38%;
    z-index: 2;
}

.home-message {
    height: 90em;
    width: 30%;
    padding: 250px 0 0 80px;
    
}

.home-message p {
    font-size: 3em;
    color: #959cb1;
}

.home-message p:first-of-type {
    word-spacing: 10px;
    font-size: 4em;
    text-transform: uppercase;
}

.home-message p:last-of-type {
    line-height: 1.5;
}

.home-message span {
    font-size: 21em;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin: 5px 0;
    color: #fff;
}

.home-btn {
    display: grid;
    grid-template-columns: 1 / 2;
    grid-template-rows: auto auto auto;
    height: 110em;
    width: 30%;

}

.home-btn .circle {
    width: 95%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    position: relative;
}

.circle:hover {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.circle span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8em;
    color: #000000;
}

.home-hero-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8%;
}